
{% assign project = include.project %}

{% if project.link %}
    {% assign proj-url = project.link %}
{% else %}
    {% capture proj-url %}{{site.base}}{{project.url}}{% endcapture %}
{% endif %}

<div class="card m-1 col-lg-5">
    <div class="card-body">
        {% if project.displayimage %}
            {% assign imgurl = project.displayimage %}
            {% capture init %}{{ project.displayimage | slice: 0,1 }}{% endcapture %}
            {% if init == "/" %}
                {% capture imgurl %}{{site.base}}{{project.displayimage}}{% endcapture %}
            {% endif %}
            <a href="{{ proj-url }}">
                <img class="img-fluid mb-3" src="{{imgurl}}" alt="{{project.title}}"/>
            </a>
        {% endif %}
        {% if project.notitle != true %}
            <h4 class="card-title">
                {{  project.title }}
            </h4>
        {% endif %}
        {% if project.subtitle != null and project.subtitle != "" %}
            <h6 class="card-subtitle mb-2 text-muted">
                {{  project.subtitle }}
            </h6>
        {% endif %}
        <div class="card-text">
            {{ project.description | markdownify }}
        </div>
        {% if project.no-link != true or project.link %}
            <a href="{{ proj-url }}"> Read more &raquo;</a>
        {% endif %}
    </div>
</div>
